@import '../variables';

.new {
  background-color: #FC5185;
  border-radius: 10px;
  font-size: 0.344em;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 2em;
  margin-top: 1px;
  margin-left: 8px;
}