$backgroundColor: #f5f5f5;
$sidebarColor: #364F6B;
$sidebarTextColor: white;
$accentColor: #3fc1c9;
$hilightColor: #FC5185;
$textColor: #535868;
$rowColor: #EBEBEB;

$fontSize: 16px;
$titleSize: 3em;
$headingSize: 1.188em;
$navSize: 2em;

$borderRadius: 20px;